.hidden,
.header-section,
.hub-title,
.agile-board-toolbar,
.hub-pivot{
  display: none !important;
}

.top,
.right-hub-content,
.content-section,
.hub-pivot-content{
  top: 0px !important;
}

board-tile:before {
  content: attr(data-item-id);
  font-size: 50px;
  font-family: sans-serif;
  color: #dadada;
  position: absolute;
  left: 10px;
  bottom: 0;
}
